@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #0f172a;
  background-color: #f8fafc;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
