@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #111827;
  background-color: #f3f4f6;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  min-height: 100vh;
}

.p-datatable .p-datatable-thead > tr > th {
  font-weight: 600;
  color: #334155;
  font-size: 0.95rem;
}

.p-datatable .p-datatable-tbody > tr > td {
  font-size: 0.92rem;
}
